{% if collection.image %}
  <div class="slideshow-container">
    {% for image in collection.images %}
      <div class="slideshow-slide{% if forloop.first %} active{% endif %}">
        <img src="{{ image | img_url: '1024x1024' }}" alt="{{ image.alt | escape }}">
      </div>
    {% endfor %}
  </div>
{% endif %}

{% comment %}
  JavaScript to create the automatic slideshow
{% endcomment %}
<script>
  var slideIndex = 0;
  var slides = document.getElementsByClassName('slideshow-slide');
  var dots = document.getElementsByClassName('dot');

  showSlides();

  function showSlides() {
    var i;
    for (i = 0; i < slides.length; i++) {
      slides[i].style.display = 'none';
    }
    slideIndex++;
    if (slideIndex > slides.length) {
      slideIndex = 1;
    }
    slides[slideIndex - 1].style.display = 'block';
    setTimeout(showSlides, 5000); // Change image every 5 seconds
  }
</script>
